<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Counter data</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<a href="/">Главная</a><br>
<a href="utilities">Виды коммунальных услуг</a><br>
<a href="rates">Тарифы и формулы расчета</a><br>
<a href="counters_data">Показания счетчиков и расчет стоимости услуг</a><br>

    <h1>Показания счетчиков</h1>
    <br>
    <form action="add_counterData" method="post">

        <label for="period">Дата:</label>
        <input type="date" th:object="${period}" id="period" name="period" th:value="${period}">
        <br>
        <label for="utility">Услуга:</label>
        <input id="utility" type="text" name="utility">
        <br>
        <label for="currentMeters">Текущие показания:</label>
        <input id="currentMeters" type="number" name="currentMeters" value="0.00">
        <br>
        <br>
        <input type="submit" value="Добавить показание счетчика">
    </form>
    <br>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Услуга</th>
            <th>Текущие показания</th>
            <th>Потребление</th>
            <th>Тариф</th>
            <th>Сумма к начислению</th>
            <th>Правка</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="iter : ${counterData}">
            <td th:text="${iter.id}"></td>
            <td th:text="${iter.period}"></td>
            <td th:text="${iter.utility_id}"></td>
            <td th:text="${iter.currentMeters}" ></td>
            <td th:text="${iter.consumption}"></td>
            <td><a th:href="@{/edit_rate/{id}(id=${iter.rate_id})}">Править тариф</a></td>
            <td th:text="${iter.accruedAmount}"></td>

            <td><a th:href="@{/edit_counterData/{id}(id=${iter.id})}">Правка</a></td>
            <td><a th:href="@{/delete_counterData/{id}(id=${iter.id})}">Удалить</a></td>

        </tr>
        </tbody>
    </table>
    <br>

</body>
</html>